@layer base {
  html {
    @apply h-full /** spacing */
      scroll-smooth overflow-y-scroll /** scrolling */;
  }

  body {
    @apply font-sans /** font-family */
      bg-fill-default /** background color */
      text-base-default /** text color */
      selection:bg-base-default selection:text-fill-default /** color on selection */
      relative min-h-full /** positioning and spacing */
      text-lg /** text sizing */;
  }

  a,
  a * {
    @apply font-mono /** font-family */
      text-primary-default /** color */
      selection:bg-primary-default selection:text-white /** color on selection */;
  }

  .primary-selected,
  .primary-selected * {
    @apply selection:bg-primary-default selection:text-white /** color on selection */;
  }

  .section-heading {
    @apply font-mono font-medium /** font-family */
      text-primary-default /** color */
      my-6 /* margins */
      inline-block /* display */
      text-2xl md:text-3xl xl:text-4xl /** text sizing */
      selection:bg-primary-default selection:text-white /** color on selection */;
  }
}
