@layer base {
  :root,
  html.light {
    --color-base: #34585c; /* #012e33;  */
    --color-base-v1: #1a4347;
    --color-base-v2: #012e33;
    --color-base-v3: #012024;
    --color-base-v4: #001214;
    --color-base-iv1: #b3c0c2;
    --color-base-iv2: #e6eaeb;
    --color-primary: #ff5c36;
    --color-primary-v1: #ff5c36;
    --color-primary-v2: #ff5c36;
    --color-primary-v3: #ff5c36;
    --color-primary-v4: #ff5c36;
    --color-fill: #faffe6;
    --color-fill-v1: #faffe6;
    --color-fill-v2: #faffe6;
    --color-paper: #e1f9ff;
    --color-paper-v1: #e1f9ff;
    --color-paper-v2: #e1f9ff;
  }
  html.dark {
    --color-base: #94a3b8; /** Slate:400 */
    --color-base-v1: #cbd5e1; /** Slate:300 */
    --color-base-v2: #e2e8f0; /** Slate:200 */
    --color-base-v3: #f1f5f9; /** Slate:100 */
    --color-base-v4: #f8fafc; /** Slate:50 */
    --color-base-iv1: #4a525c; /** Slate:300 */
    --color-base-iv2: #2c3137; /** Slate:300 */
    --color-primary: #ff5c36;
    --color-primary-v1: #ff5c36;
    --color-primary-v2: #ff5c36;
    --color-primary-v3: #ff5c36;
    --color-primary-v4: #ff5c36;
    --color-fill: rgb(2, 46, 64);
    --color-fill-v1: rgb(2, 46, 64);
    --color-fill-v2: rgb(2, 46, 64);
    --color-paper: rgb(1, 78, 86);
    --color-paper-v1: rgb(1, 78, 86);
    --color-paper-v2: rgb(1, 78, 86);
  }
}
