@layer base {
  :root,
  html.light {
    --color-base: #1a4347;
    --color-base-v1: #012e33;
    --color-base-v2: #012529;
    --color-base-v3: #011c1f;
    --color-base-v4: #000e0f;
    --color-base-iv1: #809799;
    --color-base-iv2: #b3c0c2;
    --color-primary: #ff5c36;
    --color-primary-v1: #ff5c36;
    --color-primary-v2: #ff5c36;
    --color-primary-v3: #ff5c36;
    --color-primary-v4: #ff5c36;
    --color-secondary: #ff3676;
    --color-secondary-v1: #ff3676;
    --color-secondary-v2: #ff3676;
    --color-secondary-v3: #ff3676;
    --color-secondary-v4: #ff3676;
    --color-fill: #faffe6;
    --color-fill-v1: #eaeed9;
    --color-fill-v2: #dfe9ba;
    --color-paper: #e1f9ff;
    --color-paper-v1: #e1f9ff;
    --color-paper-v2: #e1f9ff;
  }
  html.dark {
    --color-base: #94a3b8; /** Slate:400 */
    --color-base-v1: #cbd5e1; /** Slate:300 */
    --color-base-v2: #e2e8f0; /** Slate:200 */
    --color-base-v3: #f1f5f9; /** Slate:100 */
    --color-base-v4: #f8fafc; /** Slate:50 */
    --color-base-iv1: #4a525c; /** Slate:300 */
    --color-base-iv2: #2c3137; /** Slate:300 */
    --color-primary: #ff5c36;
    --color-primary-v1: #ff5c36;
    --color-primary-v2: #ff5c36;
    --color-primary-v3: #ff5c36;
    --color-primary-v4: #ff5c36;
    --color-secondary: #ff3676;
    --color-secondary-v1: #ff3676;
    --color-secondary-v2: #ff3676;
    --color-secondary-v3: #ff3676;
    --color-secondary-v4: #ff3676;
    --color-fill: #0f172a;
    --color-fill-v1: #141f31;
    --color-fill-v2: #1e293b;
    --color-paper: #334155;
    --color-paper-v1: #64748b;
    --color-paper-v2: #94a3b8;
  }
}
