---
import Layout from "src/layouts/MainLayout.astro";
---

<Layout>
  <main>
    <p>Welcome to the <strong>new</strong> <a href="#"><strong>Jaspreet Lab</strong></a></p>
    <button id="theme-btn" class="rounded-md border border-transparent bg-green-600 py-2 px-4 m-2 text-white shadow-sm hover:bg-green-700">Toggle</button>
  </main>
</Layout>
