---
import ColorModeButton from "src/components/ColorModeButton.astro";
import Layout from "src/layouts/Main.layout.astro";
import HeroSectionTest from "src/pages/home-sections/HeroSectionTest.astro";
import HeroSection from "src/pages/home-sections/HeroSection.astro";
import AboutMeSection from "src/pages/home-sections/AboutMeSection.astro";
import ExperienceSection from "src/pages/home-sections/ExperienceSection.astro";
import ContactMeSection from "./home-sections/ContactMeSection.astro";
---

<Layout>
  <HeroSection />
  <AboutMeSection />
  <ExperienceSection />
  <ContactMeSection />
  <!-- <HeroSectionTest /> -->
  <div class="h-14"></div>
</Layout>
