/* #### Custom Fonts #### */

@font-face {
  font-family: 'SF Mono';
  font-style: normal;
  font-weight: 400;
  src: local('SF Mono Regular'),
    url('./assets/fonts/SFMonoRegular.woff') format('woff');
}

@font-face {
  font-family: 'SF Mono';
  font-style: italic;
  font-weight: 400;
  src: local('SF Mono Regular Italic'),
    url('./assets/fonts/SFMonoRegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'SF Mono';
  font-style: normal;
  font-weight: 500;
  src: local('SF Mono Light'),
    url('./assets/fonts/SFMonoLight.woff') format('woff');
}

@font-face {
  font-family: 'SF Mono';
  font-style: italic;
  font-weight: 500;
  src: local('SF Mono Light Italic'),
    url('./assets/fonts/SFMonoLightItalic.woff') format('woff');
}

@font-face {
  font-family: 'SF Mono';
  font-style: normal;
  font-weight: 600;
  src: local('SF Mono Medium'),
    url('./assets/fonts/SFMonoMedium.woff') format('woff');
}

@font-face {
  font-family: 'SF Mono';
  font-style: italic;
  font-weight: 600;
  src: local('SF Mono Medium Italic'),
    url('./assets/fonts/SFMonoMediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'SF Mono';
  font-style: normal;
  font-weight: 700;
  src: local('SF Mono Semibold'),
    url('./assets/fonts/SFMonoSemibold.woff') format('woff');
}

@font-face {
  font-family: 'SF Mono';
  font-style: italic;
  font-weight: 700;
  src: local('SF Mono Semibold Italic'),
    url('./assets/fonts/SFMonoSemiboldItalic.woff') format('woff');
}

@font-face {
  font-family: 'SF Mono';
  font-style: normal;
  font-weight: 800;
  src: local('SF Mono Bold'),
    url('./assets/fonts/SFMonoBold.woff') format('woff');
}

@font-face {
  font-family: 'SF Mono';
  font-style: italic;
  font-weight: 800;
  src: local('SF Mono Bold Italic'),
    url('./assets/fonts/SFMonoBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'SF Mono';
  font-style: normal;
  font-weight: 900;
  src: local('SF Mono Heavy'),
    url('./assets/fonts/SFMonoHeavy.woff') format('woff');
}

@font-face {
  font-family: 'SF Mono';
  font-style: italic;
  font-weight: 900;
  src: local('SF Mono Heavy Italic'),
    url('./assets/fonts/SFMonoHeavyItalic.woff') format('woff');
}
